body {
    margin: 0;
    background-color: aliceblue;
}

#homepage {
    color : aliceblue ;
    outline: none;
    text-decoration: none;
    margin-left : 1.5%;
    margin-top : 20% 
}



#git, #cours , #cours-particulier ,#université-link {
    color : white ;
    outline: none;
    text-decoration: none;
    margin-left : 2%;
}

#université-link:hover { 
    color: #8a1538;
}

#git:hover {
    color : black ;
}

#cours:hover , #homepage:hover , #cours-particulier:hover {
    color : rgb(144, 47, 255) ;
}


.header-link {
    padding-top: 28px;
    padding-bottom: 20px;
}

.home {
    width:100%;
    background-color: rgb(4, 51, 78);
}



header {
    background-color:  rgb(4, 51, 78);
    position: relative;
    width: 100%;
}

footer {
    background-color:  rgb(4, 51, 78);
    color: white;
}
.foot {
    display: grid;
    grid-template-columns: 50% 50%;
}
.reseau {
    list-style-type: none;
    margin: 10%;
    margin-left: 25%;
    padding-top: 2%;
}

.reseau-link {
    outline : none ;
    color : white ;
    text-decoration: none;
}

.other-footer {
    list-style-type: none;
    margin: 10%;
    margin-left: 25%;
    padding-top: 2%;
}

.other-footer-list{
    list-style-type: none;
    color : white ;
    text-decoration: none;
}
.copy {
    text-align: center;
    padding-bottom: 2%;
}




 
